/*--------------------------------------------------------------
# top-nav
--------------------------------------------------------------*/
.top-nav{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  padding-top: 10px;
  @media only screen and (max-width: 1199px) {
   padding-top: 6px;
  }
  @media only screen and (max-width: 991px) {
   padding-top: 4px;
  }
  @media only screen and (max-width: 767px) {
   padding-top: 2px;
  }

  .top-logo{
    position: relative;
    img{
      height: 80px;
      @media only screen and (max-width: 991px) {
       height: 70px;
      }
      @media only screen and (max-width: 767px) {
       height: 60px;
      }
      @media only screen and (max-width: 482px) {
       height: 55px;
      }

    }
  }
}
