@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');



$font-lato:'Lato', sans-serif;
$font-libre:'Libre Baskerville', serif;

$primary-color:#9DC741;
$secondary-color:#178ED4;
$text-color:#666473;
$title-color:#1E2530;
